
<div class='container'>
        <header class='<header class="navbar navbar-fixed-top navbar-inverse">'><ul>
            <li><a href=# id='login'class='btn btn-primary'>Login</a></li>
            <li><%=link_to 'Cart', @cart, id:'cart', class:'btn btn-primary'%></li></ul>
    </header>
</div>
	<div class='container-fluid'><div class='row' id='logo'>
            <div class='col-md-12'>
                <%= link_to image_tag("logo.jpg", alt: "Lugnuts Auto Parts logo"), 'http://franklin.edu' %>
        </div>
        </div>
</div>
<div class='container-fluid'>
 <nav class='nav nav-bar-default'>
   <ul class="navb">
        <li><%= link_to "Home",     root_path %></li>
        <li class='dropdown'>
            <a href='#' data-toggle='dropdown' class='dropdown-toggle'>Products</a>
            <ul class='dropdown-menu' role='menu'>
                 <% Productline.all.each do |p| %>
                <li><%= link_to p.productLine %></li>
                 <% end %>
                <li><%= link_to "All Products", products_path %></li>
            </ul>
            
        </li>
        <li><%= link_to "Tips",     tips_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
        <li><%= link_to "About",    about_path %></li>
            </ul>
      <form role='search' class='navbar-form navbar-right' >
        <div class='form-group'>
            <input type='text' id='search' name='search'       placeholder='Search products...' class='form-control'>
            <input type='submit' name='searchbtn' id='searchbtn' class='btn btn-primary'></div>
      </form>
    </nav>
</div>
  
